:root {
  font-family: 'macosx', sans-serif;
  --link-color: #2383d0;
  --dark: #323232;
  --pale: #fafafa;
}

@font-face {
  font-family: 'macosx';
  src: url(macosx.woff2) format('woff');
}

@font-face {
  font-family: 'macosx-bold';
  src: url(macosx-bold.woff2) format('woff');
}

body {
  margin: 0;
}

section {
  background-color: var(--pale);
}

.headline {
  font-size: 8vh;
  text-align: center;
  font-family: 'macosx-bold';
}

.lead {
  font-size: 3.3vh;
  margin-top: -40px;
}

.mainlink {
  text-decoration: none;
  color: var(--link-color);
  font-size: 3vh;
  font-weight: 500;
}

.headline-grid {
  display: grid;
  grid-template: 100% 100% / auto;
  grid-row-gap: 7vh;
}

.headline-grid img {
  width: 70%;
  height: auto;
}

.headline-grid div:nth-child(1) {
  margin-top: 80px;
}

.image-bg {
  background-color: #f5f5f5;
  /* left: 50%; */
}


header {
  background-color: var(--dark);
  /* margin-top: calc(-1px + -79px); */
  top: 0px;
  position: fixed;
  width: 100vw;
  opacity: 0.93;
}

header nav ul {
  list-style-type: none;
  text-align: center;
  /* width: 75vw; */
}

.navbar {
  width: 90%;
}

header nav ul li {
  display: inline;
  padding: 1% 2.7%;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  /* padding: 15px 0; */
  letter-spacing: -0.14px;
  line-height: 8px;
  text-align: justify;
  word-spacing: 0px;
  font-size: 14px;
}

.top-of-page {
  text-align: center;
}

.top-inverse {
  color: #fff;
  background-color: #131218;
}

.top-inverse a {
  color: #fff;
}

.lead-inverse {
  background-color: #131218;
}

.macbook-hero {
  background-image: url('https://www.apple.com/v/home/ds/images/heroes/macbook-pro/macbook_pro_performance_largetall_2x.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.promos-grid {
  margin: 10px 0;
  padding-left: 1%;
  display: grid;
  grid-template: 30rem 30rem 30rem / 49.25% 49.25%;
  grid-gap: 10px 10px;
}

.promos-grid div:nth-child(1) {
  background-image: url('https://www.apple.com/v/home/ds/images/promos/shop_for_college_large.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.promos-grid div:nth-child(2) {
  background-image: url('https://www.apple.com/v/home/ds/images/promos/behind_the_mac_peter_large.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.promos-grid div:nth-child(3) {
  background-image: url('https://www.apple.com/v/home/ds/images/promos/iphone_8_large.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.promos-grid div:nth-child(4) {
  background-image: url('https://www.apple.com/v/home/ds/images/promos/three_rings_large.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.promos-grid div:nth-child(5) {
  background-image: url('https://www.apple.com/v/home/ds/images/promos/airpods_large.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.promos-grid div:nth-child(6) {
  background-image: url('https://www.apple.com/v/home/ds/images/promos/watch_series_3_large.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}

.bottom {
  margin-bottom: 15px;
}

.promos-grid img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #f2f2f2;
  font-size: 11px;
}

footer nav {
  width: 100%;
}

.footer-grid {
  display: grid;
  grid-template: 40vh / 20% 20% 20% 20% 20%;
  text-align: center;
}

.promos-grid h2[class="headline"] {
  font-size: 6.5vh;
}
