@keyframes curtain {
    from {opacity: 0;}
    50% {transform: rotateY(90deg);}
    to {opacity: 1;}
}

.img {
  width: 100%;
  animation-name: curtain;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {margin-top: 25px;}
  50% {transform: rotateX(20deg);}
  to {margin-top: 70px;}
}

.char-home {
  animation-name: floating;
  animation-duration: 3s;
  height: 50vh;
  animation-timing-function: ease-in-out;
}
