:root {
  --red: #f44336;
  --blue: blue;
  --green: green;
  --white: #eee;
}

html {
  font-family: sans-serif;
}

body {
  padding: 0;
  
}

section {
  padding: 15px 0;
}


.grid1 {
  display: grid;
  grid-template: 215px / 80% 20%;
}

.grid1 p {
  font-size: 0.7em;
}

.grid2 {
  display: grid;
  grid-template: 215px / 31.3vw 31.3vw 31.3vw;
  grid-gap: 3vw;
  color: var(--white);
}


.grid2 div:nth-child(1) {
  background-color: var(--red);
}

.grid2 div:nth-child(2) {
  background-color: var(--blue);
}

.grid2 div:nth-child(2) h2 {
  text-align: center;
}

.grid2 div:nth-child(3) {
  background-color: var(--green);
}

.grid3 {
  display: grid;
  grid-template: 50% 50% / 48% 48%;
  grid-gap: 2vh 1vw;
}

.grid3 img {
  width: 100%;
  height: auto;
}

/* img[src] {
  width: 100%;
  height: auto;
} */
