:root {
  font-family: 'macosx', sans-serif;
  --link-color: #2383d0;
  --dark: #323232;
}

@font-face {
  font-family: 'macosx';
  src: url(macosx.woff2) format('woff');
}

@font-face {
  font-family: 'macosx-bold';
  src: url(macosx-bold.woff2) format('woff');
}

body {
  margin: 0;
}

section {
  margin-bottom: -6.5vh;
  animation-name: fadein;
  animation-duration: 2s;
}

section.top-of-page {
  margin-top: 55px;
}

header {
  background-color: var(--dark);
  /* margin-top: calc(-1px + -79px); */
  top: 0px;
  position: fixed;
  width: 100vw;
  opacity: 0.99;
}

header nav ul {
  list-style-type: none;
  text-align: center;
  /* width: 75vw; */
}

.navbar {
  width: 90%;
}

header nav ul li {
  display: inline;
  padding: 1% 2.7%;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  /* padding: 15px 0; */
  letter-spacing: -0.14px;
  line-height: 8px;
  text-align: justify;
  word-spacing: 0px;
  font-size: 14px;
}

.page-start {
  /* margin-top: 5%; */
}

.hero1 {
  /* margin-top: 1%; */
}

.top-of-page {
  background-image: url('https://www.rogers.com/cms/rogers/page-specific/wireless/iphone-x/images/hardware-innovate.png');
  height: 33vh;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  text-align: center;
  padding: 110px;
  background-color: #fafafa;
  padding-bottom: 170px;
}

.hero2 {
  background-image: url('https://www.apple.com/v/home/ds/images/heroes/ipad/ipad_largetall_2x.jpg');
  background-position: 50% 50%;
  background-size: 80%;
  /* height: 33vh; */
  background-color: red;
}

.hero2 .news {
  /* margin-bottom: 80%; */
  top: -150px;
}

h2 {
}

.news {
  position: relative;
  bottom: 65px;
}

.headline {
  margin-bottom: 10%;
  font-size: 8vh;
  text-align: center;
  font-family: 'macosx-bold';
}

.lead {
  font-size: 4vh;
  margin-top: -9%;
}

.mainlink {
  text-decoration: none;
  color: var(--link-color);
  font-size: 3vh;
  font-weight: 500;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
